*{
    box-sizing: border-box;
     margin: 0 auto;
}

html{
   
    font-family: Tahoma;
}

/* header{
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('./assets/cordel2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
} */

ul, li, a{
    list-style:none;
    display: inline;
    text-decoration: none;
    color: whitesmoke;
}

/****** MENU *******/

.container__background{
width: 100%;
display: flex;
justify-content: center;
padding: 20px;
}

.container__background-filter{
    background-color:  rgba(13, 12, 14, 0.808);
    width: 100%;
}

li{
    padding-left: 40px;
}

a:hover{
    color: #35A0AF;
    border-bottom: 3px #7FAD39 solid;
    padding-bottom: 10px;
}

#home{
    width: 100%;
    height: 550px;
    background-image: url("./assets/cordel2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: (13, 12, 14, 0.808);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor:pointer;
}

.menu{
    width: 100%;
    background-color: rgba(13, 12, 14, 0.808);
    display: flex;
    justify-content:center;
    position: fixed;

}

.menu:hover{
    background-color: rgba(13, 12, 14, 0.865);
}

ul{ 
    text-align: center;
    padding: 0;
    margin-top: 30px;
    width: 100%;
    height: 50px;
}

/***** BOTÃO *******/

.backbotao{
    width: 100%;
    height: 70px;
    position: fixed;
    float: left;
    background-color: rgb(255, 0, 0);
}

#botao{
    border: none;
    top: 550px;
    left: 1230px;
    position: fixed;
    float: left;
    color: rgb(245, 245, 245);
    width: 65px;
    height: 65px;
    background-color: rgba(126, 173, 57, 0.219);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#botao:hover{
    transform: scale(1.2);
    background-color: rgb(126, 173, 57);
}

#botaotop:hover{
    border: none;
    color: whitesmoke;
}

#botaotop > a{
    padding: 30px;
}

/***** APRESENTAÇÃO *******/
.apresentacao{
    width: 70%;
    padding: 60px;
    background-color: #FFFFFF;
    color: #110111;
}

.subtitulo{
    display: inline-flex;
    margin-bottom: 40px;
}

.seta-verde{
    color: #7FAD39;
    font-size: 16pt;
    margin-top: 8px;

}

.frase{
    font-weight: bold;
    width: 40%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #7FAD39;
    color: #110111;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.cordelcode {
    width: 100%;
    display:flex;
    justify-content: center;

}

.fa {
color: white;

}

.autor{
    margin-top: 20px;
}

/***** MISSÃO *******/

#nossamissao{
color: white;
background-color:  #35A0AF ;
padding:50px;
}

.fas{
    margin-right: 10px;
}

#nossamissao > .icons{
    width: 100%;   

}

.missao, .topicos{
    width: 100%;
    height: 120px;
    background-color: #35A0AF;
    display: flex;
    padding-bottom: 40px;
    justify-content: space-around;
}

.title{
    margin-left: 10px;
}

/***** ÍCONES *******/
.prof{
    text-align: center;
    padding-bottom: 20px;
    cursor:pointer;
}

.prof > p{
    padding-left: 17px;
    font-size: 17px;
    
}

.prof:hover{
    transform: scale(1.1);
}

#icons__size{
    width: 50px;
}

/***** PROJETOS *******/
.container{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 60px;
}

.subtitle{
    font-size: 17pt;
    color: #35A0AF;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
}

.mother{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    /*width: 800px;*/
}

.card{
    margin-bottom: 30px;
}

.photo{
    margin: 0px;
    width: 100%;
    height: 100%;
}

img{
    margin-top: 70px;
    height: 171px;
    width: 300px;
}

.imagem__desafio{
    height: 280px;
    width: 450px;
    border: 2px solid;
    border-color: #111011
}

.card .title{
    margin-top: 20px;
    margin-bottom: 60px;
    font-weight: bold;
}

.card .text{
    width: 300px;
    color: #111011;
    margin: 0 0 20px;
}

.container__projetos{
    width: 100%;
    justify-content: space-around;
    display: flex
}

/***** CONHECIMENTOS *******/
.container1{
    color:#35A0AF; 
    font-weight: bold ;
    margin-top:20px;
    padding:18px;
    display:flex;
    flex-direction: row;
    margin-left: 5px;
}

.container2 {
	width: 100%;
    height: 100%;
    flex:1;
    font-family: tahoma;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}

.conhecimento{
    margin:10px;
    font-size:18pt;
    /*width:20vw;*/
    display:flex;
    flex-direction: column;
    justify-content:Center;
    align-items: center;
    flex-wrap:wrap;
}

.conhecimento .img{
    width: 20px;
    height: 20px;
}

.assunto{
    margin-top:10px;
}

.container__conhecimentos2{
    display: flex;
    justify-content: space-evenly;
}

.container__conhecimentos{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.conhecimentos-size{
    width: 180px;
    height: 180px;
}

/***** GRUPO *******/
.menu_grupo{
    height: 100px;
    width: 100%;
    background-color: #7FAD39;
    font-size: 20px;
    font-family: tahoma;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 65px;
}

i{
    /* padding: 15px; */
}

.cartao{
    /* height: 120px;
    width: 100%;
    margin-top: 80px; */
    display: flex;
    margin: 70px;

}

.cartao2{
    display: flex;
    justify-content: space-evenly;
    margin:70px;
}

.team__cartao__img {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 80%;
    -o-object-fit: cover;
    object-fit: cover;
}

.team__cartao__title {
    color: var(--dark-primary-color);
    font: 500 22px tahoma,sans-serif;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
}


h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1{
    margin: 0px;
    padding-left: 10px;
}

.seta-icon{
    margin: 0;
}


/***** CONTATO *******/
#contato {
    width: 100%;
    padding: 20px;
    font-family: Tahoma, sans-serif;
    background-color: #35A0AF;
    font-size: 16pt;
    color: #FFFFFF;
    font-weight: bold;
}

.form label, form span {
    display: block;
    font-size: 20px;
    font-weight: normal;
}

input{
    width: 90%;
    padding: 8px 0 8px 5px;
    border: 2px solid #001020;
    border-radius: 10px;
}

.form__textarea {
    width: 90%;
    padding: 8px 0 8px 5px;
    border: 2px solid #001020;
    border-radius: 10px;
}

.contact__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

.contact__figure {
    margin: 0;
    width: 40%;
    height: 35%;
    margin: 0;
}

#submit{
    width: 60%;
    margin: 15px 0 5px 0;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    background: #7FAD39;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    transition: 1s all;
}

#submit:hover{
    cursor: pointer;
}

.subtitle-white{
    text-align: center;
    
}

h2{
    text-align: center;
    margin: 40px;
}

@media (min-width: 1020px) {
    .contact__figure {
        padding: 0 0px 0px 0;
    }
}

.apoio_{
    text-align: center;
}

.cesarschool{
 width: 400px;
 height: 293px;
 margin-top: 0;
}
.cesar{
    margin-top: 0;
    margin-bottom: 75px;
}
.contact__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    margin: 0;
}

footer{
background-color:#110111;;
height: 50px;
padding-top: 20px;

}


footer > p{
color: white;
font-size: 12px;
text-align: center;


}
