body, html{
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Tahoma;
    padding-left: 50px;
    padding-right: 50px;
}

header{
    margin: 0;
    padding: 0;
    background-color: rgb(209, 209, 209);
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

ul, li, a{
    list-style:none;
    display: inline;
    text-decoration: none;
    color: whitesmoke;
}

/****** MENU *******/
li{
    padding-left: 40px;
}

a:hover{
    color: #35a0af;
    border-bottom: 3px #7FAD39 solid;
    padding-bottom: 10px;
}

#home{
    width: 100%;
    height: 500px;
    background: url("/cordel2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor:pointer;
}

.menu{
    width: 100%;
    height: 500px;
    background-color: rgba(13, 12, 14, 0.808);
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.menu:hover{
    background-color: rgba(13, 12, 14, 0.925);
}

ul{ 
    padding: 0;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    display:flex;
    justify-content:center;
}

/***** BOTÃO *******/

.backbotao{
    width: 100%;
    height: 70px;
    position: fixed;
    float: left;
    background-color: rgb(255, 0, 0);
}

#botao{
    border: none;
    top: 550px;
    left: 1230px;
    position: fixed;
    float: left;
    color: rgb(245, 245, 245);
    width: 65px;
    height: 65px;
    background-color: rgba(126, 173, 57, 0.219);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#botao:hover{
    transform: scale(1.2);
    background-color: rgb(126, 173, 57);
}

#botaotop:hover{
    border: none;
    color: whitesmoke;
}

#botaotop > a{
    padding: 30px;
}

/***** MISSÃO *******/
#nossamissao{
    width: 100%;
    display:flex;
    justify-content: center;

}

.missao{
    width: 70%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FFFFFF;
    color: #110111;
}

.subtitulo{
    display: flex;
    align-items: center;
    margin: 0;
}

.seta-verde{
    color: #7FAD39;
    font-size: 16pt;
}

.frase{
    width: 40%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #7FAD39;
    color: #110111;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#missaoicons{
    width: 100%;
    height: 230px;
    background-color: #35a0af;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#title{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content:center;
}

.prof{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    cursor:pointer;
}

.prof > p{
    padding-left: 10px;
    
}

.prof:hover{
    transform: scale(1.1);
}

.container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
}

.subtitle{
    font-size: 16pt;
    color: #35A0AF;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
}

.mother{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    /*width: 800px;*/
}

.card{
    *margin-bottom: 30px;
}

.card .photo{
    height: 200px;
    width: 300px;
    border: 2px solid;
    border-color: #111011;
}

img{
    height: 200px;
    width: 300px;
}

.card .title{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.card .text{
    width: 300px;
    color: #111011;
    margin: 0 0 20px;
}

.container1{
    color:#35A0AF; 
    font-weight: bold ;
    margin-top:20px;
    padding:18px;
    display:flex;
    flex-direction: row;
    margin-left: 5px;
}

.container2 {
	width: 100%;
    height: 100%;
    flex:1;
    font-family: tahoma;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}

.conhecimento{
    margin:10px;
    font-size:12pt;
    /*width:20vw;*/
    display:flex;
    flex-direction: column;
    justify-content:Center;
    align-items: center;
    flex-wrap:wrap;
}

.conhecimento .img{
    width: 20px;
    height: 20px;
}
.assunto{
    margin-top:10px;
}

#contato {
    width: 92, 5%;
    padding: 20px;
    font-family: Tahoma, sans-serif;
    background-color: #35A0AF;
    font-size: 16pt;
    color: #FFFFFF;
    font-weight: bold;
}

.form label, form span {
    display: block;
    font-size: 20px;
    font-weight: normal;
}

input{
    width: 90%;
    padding: 8px 0 8px 5px;
    border: 2px solid #001020;
    border-radius: 10px;
}

.form__textarea {
    width: 90%;
    padding: 8px 0 8px 5px;
    border: 2px solid #001020;
    border-radius: 10px;
}

.contact__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact__figure {
    margin: 0;
    width: 40%;
    height: 35%;
    padding: 0 0 30px 0;
}

#submit{
    width: 60%;
    margin: 15px 0 5px 0;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    background: #7FAD39;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    transition: 1s all;
    
}

#submit:hover{
    cursor: pointer;
}

@media (min-width: 1020px) {
    .contact__figure {
        padding: 0 0px 0px 0;
    }
}

.contact__img {
    width: 90%;
    height: 100%;
    object-fit: cover;
}